.form-input {
  display: flex;
  justify-content: center;
  margin: 15px;
}

input:focus-visible{
outline-color: rgba(127, 137, 170, 1);
}

.form-submit-button {
  background-color: transparent;
  border: none;
}
