#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Amatic SC', cursive;
}

h2 {
  font-size: xx-large;
  font-weight: lighter;
  margin-top: 20px;
  margin-bottom: 5px;
}

svg {
  width: 30px;
  height: 30px;
  color: white;
}
